@font-face {
  font-family: 'Libre Baskerville';
  src: url('../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf')  format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Libre Baskerville';
  src: url('../fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf')  format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'Libre Baskerville';
  src: url('../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf')  format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf')  format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf')  format('truetype');
  font-style: italic;
}
// color variables
$red        : #B9001C;
$text-black : #1A1919;
$white      : #FFFFFF;
// fonts
$sans  : 'Source Sans Pro', sans-serif;
$serif : 'Libre Baskerville', serif;

// flex box all brower support
@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex-align-items($position) {
  -webkit-box-align: $position;
  -webkit-flex-align: $position;
  -ms-flex-align: $position;
  -webkit-align-items: $position;
  align-items: $position;
}
@mixin flex-align-content($position) {
  -webkit-box-align: $position;
  -webkit-flex-align: $position;
  -ms-flex-align: $position;
  -webkit-align-items: $position;
  align-items: $position;
}
@mixin flex-justify-content($position) {
  -webkit-justify-content: $position;
  justify-content: $position;
}
