@font-face {
  font-family: 'Libre Baskerville';
  src: url("../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: bold; }
@font-face {
  font-family: 'Libre Baskerville';
  src: url("../fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf") format("truetype");
  font-style: italic; }
@font-face {
  font-family: 'Libre Baskerville';
  src: url("../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype");
  font-style: normal; }
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf") format("truetype");
  font-style: italic; }

/*# sourceMappingURL=fonts.css.map */
