@font-face {
  font-family: 'Libre Baskerville';
  src: url("../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: bold; }
@font-face {
  font-family: 'Libre Baskerville';
  src: url("../fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf") format("truetype");
  font-style: italic; }
@font-face {
  font-family: 'Libre Baskerville';
  src: url("../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype");
  font-style: normal; }
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal; }
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf") format("truetype");
  font-style: italic; }
.strong {
  font-weight: 600; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

header {
  position: relative;
  background: #B9001C;
  color: #FFFFFF;
  text-align: center;
  font-family: sans-serif; }
  header h1 {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 20px 0;
    font-size: 22px;
    font-weight: 400; }
    header h1 b {
      font-weight: 600; }

ul.nav.nav-tabs {
  background: #B9001C;
  color: #FFFFFF;
  text-align: center;
  font-family: sans-serif;
  margin: 0 auto;
  list-style: none;
  position: relative;
  overflow-x: scroll;
  border: none;
  white-space: nowrap;
  margin-top: -1px; }
  ul.nav.nav-tabs li {
    display: inline-block;
    float: none; }
    ul.nav.nav-tabs li.active {
      border-bottom: solid; }
    ul.nav.nav-tabs li a {
      color: #FFFFFF;
      background: none;
      border: none;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      padding: 5px;
      white-space: nowrap; }
      ul.nav.nav-tabs li a:hover, ul.nav.nav-tabs li a:focus, ul.nav.nav-tabs li a:visited {
        color: #FFFFFF;
        background: none;
        border: none;
        text-decoration: none; }

.dark-line, .light-line {
  position: relative;
  border-bottom: solid 2px #000;
  margin: 0 auto;
  width: 20%; }

.light-line {
  border-bottom: solid 2px #fff; }

.see-all-link {
  display: block;
  position: absolute;
  top: 0;
  right: 20px; }
  .see-all-link a {
    color: #1A1919;
    font-weight: 300;
    font-size: 14px; }

.landing-page {
  position: relative; }
  .landing-page .breif {
    font-family: "Libre Baskerville", serif;
    position: relative;
    padding: 20px 30px;
    text-align: center;
    font-size: 18px; }

.main-title {
  position: relative;
  font-family: "Libre Baskerville", serif;
  min-height: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-self: flex-end;
  flex-direction: column-reverse;
  padding-bottom: 30px;
  background-image: url("../public/img/landing-title.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1; }
  .main-title h1 {
    margin: 0;
    color: #FFFFFF;
    font-size: 22px;
    text-align: center;
    width: 100%; }
  .main-title:after {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; }

.content {
  position: relative;
  padding: 10px 20px;
  font-size: 16px; }

.oral-history {
  position: relative; }
  .oral-history .section-title {
    font-size: 16px;
    text-align: center;
    padding: 20px 0;
    font-weight: 600; }
    .oral-history .section-title .see-all-link {
      top: 20px; }
  .oral-history p {
    padding: 0 30px; }

.visit-museum, .single-event {
  position: relative;
  margin: 20px auto;
  padding: 0 30px; }
  .visit-museum h2, .single-event h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
    text-align: center; }
  .visit-museum table, .single-event table {
    width: 100%;
    font-size: 20px;
    line-height: 40px; }

.single-event h2 {
  text-transform: uppercase; }

#map {
  position: relative;
  height: 360px;
  width: 100%; }

.fixed-video-icon {
  position: fixed;
  height: 80px;
  width: 80px;
  background: #B9001C;
  bottom: 40px;
  right: 20px;
  border-radius: 50%;
  color: #FFFFFF;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 40px; }

.timeline {
  position: relative; }
  .timeline .line {
    position: absolute;
    width: 1px;
    display: block;
    top: 26px;
    bottom: 0px;
    margin-left: 26px;
    background: #B9001C;
    z-index: 9; }
    .timeline .line:before {
      top: -2px; }
    .timeline .line:after {
      bottom: -2px; }
    .timeline .line:before, .timeline .line:after {
      content: '';
      position: absolute;
      left: -6px;
      width: 0;
      height: 0;
      display: block;
      border-radius: 50%;
      background: #B9001C; }
  .timeline .icon {
    position: absolute;
    left: 11px;
    width: 30px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    float: left;
    top: 0;
    z-index: 99; }
    .timeline .icon * {
      font-size: 14px;
      vertical-align: middle;
      line-height: 40px; }
    .timeline .icon .glyphicon.glyphicon-one-fine-dot:before {
      content: "\25cf";
      font-size: 1.5em;
      color: #B9001C; }
    .timeline .icon .small-circle {
      top: 14px; }
      .timeline .icon .small-circle:before {
        content: "";
        display: block;
        color: #B9001C;
        border: solid 1px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: #fff; }
  .timeline .panel {
    position: relative;
    border: none;
    box-shadow: none; }
  .timeline .panel-heading {
    background: none;
    border: none; }
  .timeline .panel-body {
    border-top: none !important;
    border-bottom: solid 1px #B9001C;
    margin-left: 26px;
    padding-left: 20px; }
    .timeline .panel-body img {
      width: 100%;
      height: auto; }
    .timeline .panel-body p {
      font-size: 16px; }
  .timeline .panel-title a {
    padding: 10px 10px;
    display: inline-block;
    margin-left: 30px;
    background: #B9001C;
    color: #fff; }
    .timeline .panel-title a:active, .timeline .panel-title a:focus, .timeline .panel-title a:hover {
      text-decoration: none; }

.literature {
  position: relative;
  font-family: "Libre Baskerville", serif;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .literature a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-image: url(../public/img/landing-title.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 320px;
    font-size: 20px;
    color: #fff;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .literature a:hover, .literature a:active, .literature a:focus {
      text-decoration: none;
      color: #fff; }

.team {
  position: relative; }
  .team .member {
    font-family: "Libre Baskerville", serif;
    background-image: url(../public/img/landing-title.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    color: #fff;
    margin-bottom: -1px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 18px;
    padding: 20px; }
  .team p {
    margin: 0; }
  .team .light-line {
    margin: 0; }

.film-clips-page {
  position: relative; }
  .film-clips-page header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .film-clips-page header .back-icon {
      padding: 0 20px;
      font-size: 36px; }
      .film-clips-page header .back-icon a {
        display: block;
        color: #fff; }
        .film-clips-page header .back-icon a:active, .film-clips-page header .back-icon a:focus, .film-clips-page header .back-icon a:hover {
          text-decoration: none;
          color: #fff; }

.film-clips {
  position: relative; }
  .film-clips a {
    color: #fff; }
    .film-clips a:active, .film-clips a:focus {
      text-decoration: none;
      color: #fff; }
  .film-clips .single-item {
    position: relative;
    font-family: "Libre Baskerville", serif;
    min-height: 300px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
    padding: 120px 30px 60px 30px;
    background-image: url(../public/img/landing-title.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between; }
    .film-clips .single-item .title {
      font-size: 20px;
      margin-bottom: 5px; }
    .film-clips .single-item .play-icon {
      position: relative;
      border: solid 2px;
      height: 60px;
      width: 60px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-flex-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: #fff;
      font-size: 26px;
      background: rgba(0, 0, 0, 0.3); }
  .film-clips .description {
    position: relative;
    text-align: center;
    padding: 20px; }
  .film-clips .movie-team {
    position: relative;
    padding: 20px; }
    .film-clips .movie-team h2 {
      font-size: 20px;
      margin: 10px 0;
      text-align: center; }
    .film-clips .movie-team table {
      width: calc(100% - 40px);
      margin: 20px; }
      .film-clips .movie-team table td:nth-child(2) {
        font-weight: 800; }
  .film-clips.photos .single-item {
    text-align: center; }

.join-donate ul.nav.nav-tabs, .upload-video ul.nav.nav-tabs {
  -webkit-padding-start: 0;
  background: #fff;
  border: none;
  text-align: center; }
  .join-donate ul.nav.nav-tabs li.active a, .upload-video ul.nav.nav-tabs li.active a {
    font-weight: 600; }
  .join-donate ul.nav.nav-tabs li a, .upload-video ul.nav.nav-tabs li a {
    font-weight: 100;
    color: #B9001C;
    text-transform: none; }
.join-donate .form-group, .upload-video .form-group {
  position: relative; }
.join-donate input, .upload-video input {
  display: block;
  width: calc(100% - 10px);
  padding: 15px 10px 0;
  border: none;
  font-size: 14px;
  border-bottom: solid 1px #888686;
  margin: 0 5px 30px; }
  .join-donate input:focus, .upload-video input:focus {
    outline: none; }
.join-donate input[type="button"], .upload-video input[type="button"] {
  border: none !important;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  background: #B9001C;
  color: #fff;
  width: 100%;
  margin: 0; }
.join-donate label, .upload-video label {
  position: absolute;
  pointer-events: none;
  top: 15px;
  left: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #7C7A7A;
  background-color: transparent;
  padding: 0 2px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .join-donate label.top, .upload-video label.top {
    top: 0; }
.join-donate input:valid + label, .upload-video input:valid + label {
  opacity: 1;
  top: -5px;
  color: #9e9e9e; }
.join-donate input:focus + label, .upload-video input:focus + label {
  color: #03a9f4; }
.join-donate .field-underline, .upload-video .field-underline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -5px;
  border: 1px solid #9e9e9e;
  z-index: -1;
  padding: 10px 10px 0; }
.join-donate input:focus + label + .field-underline, .upload-video input:focus + label + .field-underline {
  border-color: #03a9f4; }

.about-us .content h1 {
  font-size: 20px;
  font-weight: 600; }
.about-us .content img {
  width: 100%;
  height: auto; }
.about-us .people-involved {
  position: relative; }
  .about-us .people-involved ul {
    padding-left: 0px; }
    .about-us .people-involved ul li {
      list-style: none; }
      .about-us .people-involved ul li.title {
        padding-top: 10px;
        font-weight: 600; }

.events-tab {
  position: relative; }
  .events-tab ul.nav.nav-tabs {
    background: #fff; }
    .events-tab ul.nav.nav-tabs li a {
      color: #FA767D;
      text-transform: none;
      font-weight: 600; }
    .events-tab ul.nav.nav-tabs li.active a {
      color: #B9001C; }
  .events-tab .breif {
    padding: 20px 0 0 0 !important;
    text-align: left; }

.youtube-video {
  margin: 0 -30px; }

.full-width-image {
  margin: 0 -30px; }
  .full-width-image img {
    width: 100%;
    height: auto; }

#map-img .map-image-container {
  position: relative; }
  #map-img .map-image-container img {
    width: 100%;
    height: auto; }
#map-img p {
  padding: 0 30px; }

.mb20 {
  margin-bottom: 20px !important; }

/*# sourceMappingURL=main.css.map */
