@import "fonts.scss";
// common class
.strong{
  font-weight: 600;
}
.no-padding{
  padding: 0 !important;
}
.no-margin{
  margin: 0 !important;
}
// header section
header {
  position: relative;
  background: $red;
  color: $white;
  text-align: center;
  font-family: sans-serif;
  h1{
    font-family: $sans;
    margin: 0;
    padding: 20px 0;
    font-size: 22px;
    font-weight: 400;
    b{
      font-weight: 600;
    }
  }
}
// navigation
ul.nav.nav-tabs{
  //-webkit-padding-start: 360px;
  background: $red;
  color: $white;
  text-align: center;
  font-family: sans-serif;
  margin: 0 auto;
  list-style: none;
  position: relative;
  overflow-x: scroll;
  border: none;
  white-space: nowrap;
  margin-top: -1px;
  li{
    display: inline-block;
    float: none;
    &.active{
      border-bottom: solid;
    }
    a{
      color: $white;
      background: none;
      border: none;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      padding: 5px;
      white-space: nowrap;
      &:hover, &:focus, &:visited{
        color: $white;
        background: none;
        border: none;
        text-decoration: none;
      }
    }
  }
}
// single lines
.dark-line{
  position: relative;
  border-bottom: solid 2px #000;
  margin: 0 auto;
  width: 20%;
}
.light-line{
  @extend .dark-line;
  border-bottom: solid 2px #fff;
}
.see-all-link{
  display: block;
  position: absolute;
  top: 0;
  right: 20px;
  a{
    color: $text-black;
    font-weight: 300;
    font-size: 14px;
  }
}
// landing page
.landing-page{
  position: relative;
  .breif {
    font-family: $serif;
    position: relative;
    padding: 20px 30px;
    text-align: center;
    font-size: 18px;
  }
}
.main-title{
  position: relative;
  font-family: $serif;
  min-height: 300px;
  @include flex;
  align-self: flex-end;
  flex-direction: column-reverse;
  padding-bottom: 30px;
  background-image: url('../public/img/landing-title.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  h1{
    margin: 0;
    color: $white;
    font-size: 22px;
    text-align: center;
    width: 100%;
  }
  &:after{
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    z-index: -1;
  }
}
.content {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
}
//oral history
.oral-history{
  position: relative;
  .section-title{
    font-size: 16px;
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
    .see-all-link{
      top: 20px;
    }
  }
  p{
    padding: 0 30px;
  }
}
// visit-museum
.visit-museum {
  position: relative;
  margin: 20px auto;
  padding: 0 30px;
  h2{
    font-family: $sans;
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
  table{
    width: 100%;
    font-size: 20px;
    line-height: 40px;
  }
}
.single-event{
  @extend .visit-museum;
  h2{
    text-transform: uppercase;
  }
}
// google map
#map {
  position: relative;
  height: 360px;
  width: 100%;
}
// fixed video icon
.fixed-video-icon {
  position: fixed;
  height: 80px;
  width: 80px;
  background: $red;
  bottom: 40px;
  right: 20px;
  border-radius: 50%;
  color: $white;
  @include flex;
  justify-content: center;
  @include flex-align-items(center);
  font-size: 40px;
}
// timeline page
.timeline{
  position: relative;
  .line{
    position: absolute;
    width: 1px;
    display: block;
    top: 26px;
    bottom: 0px;
    margin-left: 26px;
    background: $red;
    z-index: 9;
    &:before{
      top: -2px;
    }
    &:after {
     bottom: -2px;
   }
   &:before, &:after{
    content:'';
    position: absolute;
    left: -6px;
    width: 0;
    height: 0;
    display: block;
    border-radius: 50%;
    background: $red;
   }
  }
  .icon {
    position: absolute;
    left: 11px;
    width: 30px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    float: left;
    top: 0;
    z-index: 99;
   *{
      font-size: 14px;
      vertical-align: middle;
      line-height: 40px;
   }
   .glyphicon.glyphicon-one-fine-dot:before {
      content:"\25cf";
      font-size: 1.5em;
      color:$red;
    }
    .small-circle{
      top: 14px;
      &:before{
        content: "";
        display: block;
        color: #B9001C;
        border: solid 1px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: #fff;
      }
    }
  }
  .panel{
    position: relative;
    border: none;
    box-shadow: none;
  }
  .panel-heading{
    background: none;
    border: none;
  }
  .panel-body{
    border-top: none !important;
    border-bottom: solid 1px $red;
    margin-left: 26px;
    padding-left: 20px;
    img{
      width: 100%;
      height: auto;
    }
    p{
      font-size: 16px;
    }
  }
  .panel-title{
    a{
      padding: 10px 10px;
      display: inline-block;
      margin-left: 30px;
      background: $red;
      color: #fff;
      &:active, &:focus, &:hover{
        text-decoration: none;
      }
    }
  }
}
// literature
.literature{
  position: relative;
  font-family: $serif;
  @include flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  a{
    @include flex;
    background-image: url(../public/img/landing-title.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 320px;
    font-size: 20px;
    color: #fff;
    @include flex-align-items(center);
    justify-content: center;
    flex-direction: column;
    &:hover, &:active, &:focus{
      text-decoration: none;
      color: #fff;
    }
    &.film-clips{

    }
    &.poems{

    }
    &.photos{

    }
  }
}
// team
.team{
  position: relative;
  .member{
    font-family: $serif;
    background-image: url(../public/img/landing-title.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    color: #fff;
    margin-bottom: -1px;
    @include flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 18px;
    padding: 20px;
  }
  p{
    margin: 0;
  }
  .light-line{
    margin: 0;
  }
}

// film-clips
.film-clips-page{
  position: relative;
  header{
    @include flex;
    @include flex-align-items(center);
    .back-icon {
      padding: 0 20px;
      font-size: 36px;
      a{
        display: block;
        color: #fff;
        &:active, &:focus, &:hover{
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}
.film-clips{
  position: relative;
  a{
    color: #fff;
    &:active, &:focus{
      text-decoration: none;
      color: #fff;
    }
  }
  .single-item{
    position: relative;
    font-family: $serif;
    min-height: 300px;
    @include flex;
    @include flex-align-items(center);
    flex-direction: column;
    padding: 120px 30px 60px 30px;
    background-image: url(../public/img/landing-title.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    .title{
      font-size: 20px;
      margin-bottom: 5px;
    }
    .play-icon {
      position: relative;
      border: solid 2px;
      height: 60px;
      width: 60px;
      @include flex;
      @include flex-align-items(center);
      justify-content: center;
      border-radius: 50%;
      color: #fff;
      font-size: 26px;
      background: rgba(0, 0, 0, 0.3);
    }
  }
  .description{
    position: relative;
    text-align: center;
    padding: 20px;
  }
  .movie-team{
    position: relative;
    padding: 20px;
    h2{
      font-size: 20px;
      margin: 10px 0;
      text-align: center;
    }
    table{
      width: calc(100% - 40px);
      margin:20px;
      td:nth-child(2){
        font-weight: 800;
      }
    }
  }
  &.photos{
    .single-item{
      text-align: center;
    }
  }
}
// Join/donate form
.join-donate{
  ul.nav.nav-tabs{
    -webkit-padding-start: 0;
    background: #fff;
    border: none;
    text-align: center;
    li{
      &.active{
        a{
          font-weight: 600;
        }
      }
      a{
        font-weight: 100;
        color: $red;
        text-transform: none;
      }
    }
  }
  //forms
  .form-group{
    position: relative;
  }
  input{
    display:block;
    width: calc(100% - 10px);
    padding:15px 10px 0;
    border:none;
    font-size:14px;
    border-bottom: solid 1px #888686;
    margin: 0 5px 30px;
    &:focus{
      outline: none;
    }
  }
  input[type="button"]{
    border: none !important;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    background: $red;
    color: #fff;
    width: 100%;
    margin: 0;
  }
  label{
    position: absolute;
    pointer-events: none;
    top: 15px;
    left: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #7C7A7A;
    background-color: transparent;
    padding: 0 2px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    &.top{
      top: 0;
    }
  }
  input:valid + label {
    opacity:1;
    top:-5px;
    color: #9e9e9e;
  }
  input:focus + label {
    color: #03a9f4;
  }
  .field-underline {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:-5px;
    border:1px solid #9e9e9e;
    z-index: -1;
    padding:10px 10px 0;
  }
  input:focus + label + .field-underline {
    border-color:#03a9f4;
  }
}
// about us
.about-us{
  .content{
    h1{
      font-size: 20px;
      font-weight: 600;
    }
    img {
      width: 100%;
      height: auto;
     }
  }
  //people-involved
  .people-involved {
    position: relative;
    ul {
      padding-left: 0px;
      li {
        list-style: none;
        &.title{
          padding-top: 10px;
          font-weight: 600;
        }
      }
    }
  }
}
// event tab
.events-tab{
  position: relative;
  ul.nav.nav-tabs{
    background: #fff;
    li{
      a{
        color: #FA767D;
        text-transform: none;
        font-weight: 600;
      }
      &.active{
        a{
          color: $red;
        }
      }
    }
  }
  .breif{
    padding:20px 0 0 0 !important;
    text-align: left;
  }
}
// youtube embend
.youtube-video {
  margin: 0 -30px;
}
.full-width-image{
  margin: 0 -30px;
  img{
    width: 100%;
    height: auto;
  }
}
// map image
#map-img {
  .map-image-container{
    position: relative;
    img{
      width: 100%;
      height: auto;
    }
  }
  p{
    padding: 0 30px;
  }
}

//upload video page
.upload-video {
  @extend .join-donate;
}
.mb20{
  margin-bottom: 20px !important;
}
